In [1]:
import pandas as pd
import numpy as np

In [5]:
data=pd.DataFrame({'A':[1,2,3,4,5,5],'B':[4,6,4,7,6,9],'C':[0,0,0,0,0,0],'D':[1,1,1,1,1,1]})

In [6]:
data

   A  B  C  D
0  1  4  0  1
1  2  6  0  1
2  3  4  0  1
3  4  7  0  1
4  5  6  0  1
5  5  9  0  1

### variance threesold remove low variance feature

### This feature selection algorithm looks only at the features (X), not the desired outputs (y), and can thus be used for unsupervised learning.

### It removes the column which are constant or not changing very much

In [7]:
from sklearn.feature_selection import VarianceThreshold

### it will remove the column which has varaince 0 which has same value

In [9]:
vt=VarianceThreshold(threshold=0)#remove column which has variance 0

In [10]:
vt.fit(data)

VarianceThreshold(threshold=0)

In [12]:
vt.get_support()#true means no remove but false means remove

array([ True,  True, False, False])

In [16]:
y=data.columns[vt.get_support()]

In [23]:
const_col=[column for column in data.columns#appending the column not in that y
   if column not in y]

In [24]:
const_col

['C', 'D']

In [25]:
data

   A  B  C  D
0  1  4  0  1
1  2  6  0  1
2  3  4  0  1
3  4  7  0  1
4  5  6  0  1
5  5  9  0  1

In [28]:
data.drop(const_col,axis=1)#axis 1 is for columns

   A  B
0  1  4
1  2  6
2  3  4
3  4  7
4  5  6
5  5  9